POSTGRES_DB=ctfwatch
POSTGRES_USER=ctfwatch
POSTGRES_PASSWORD=change-me

CTFWATCH_ADMIN_USERNAME=admin
CTFWATCH_ADMIN_PASSWORD_HASH='$argon2...CHANGE-ME'

GRAFANA_ADMIN_USERNAME=admin
GRAFANA_ADMIN_PASSWORD=change-me