fuckweb.lol {
    tls /etc/letsencrypt/live/fuckweb.lol/fullchain.pem /etc/letsencrypt/live/fuckweb.lol/privkey.pem

    handle_path /grafana/* {
        reverse_proxy grafana:3000
    }

    handle {
        reverse_proxy server:8000
    }
}